[www]
pm = ondemand

; todo: find out max_children value and other confs
pm.max_children = 255

user = {{ db_user }}
access.log = /proc/self/fd/2
listen = /var/run/{{ socker_prefix }}.fpm.sock
listen.owner = www-data
listen.group = www-data
pm.status_path = /status
security.limit_extensions = .php .php3 .php4 .php5 .php7 .phtml

; env[HOSTNAME] = {{ domain }}
env[DB_USER] = {{ db_user }}
env[DB_PASSWORD] = {{ db_password }}
env[DB_NAME] = {{ db_name }}
env[DB_HOST] = {{ db_host }}
env[DB_PORT]= {{ db_post }}
env[ENVIRONMENT]=live
env[HTTP_USER_AGENT_HTTPS] = {{ ssl_host | ternary('ON', 'OFF') }}
env[WP_CONTENT_DIR] = {{ user_wp_content_dir }}
#env[HTTP_HOST] = {{ domain }}

php_flag[display_errors] = on
php_admin_value[error_log] = /proc/self/fd/2
php_admin_flag[log_errors] = on
php_admin_value[memory_limit] = 256M
php_admin_value[disable_functions] = exec,passthru,shell_exec,system

; Ensure worker stdout and stderr are sent to the main error log.
catch_workers_output = yes