[Unit]
Requires=%i.fpm.service
After=%i.fpm.service
PartOf=switchboard.service
#Documentation=https://github.com/djcf/

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd /var/run/docker-apps/%i/vhost.fpm.sock