[Unit]
Requires=fpm@%i.service
After=fpm@%i.service
Requires=docker.service
After=docker.service
PartOf=switchboard.service
Documentation=https://github.com/djcf/wordpress-fpm-docker

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd /var/run/docker-apps/%i/php-fpm.sock