[Unit]
Description=MariaDB SQL Container
Requires=docker.service
After=docker.service
#Documentation=https://github.com/djcf/

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop sqldb.noflag.org.uk
ExecStartPre=-/usr/bin/docker rm sqldb.noflag.org.uk
ExecStart=-/usr/bin/docker run --restart=always --name=sqldb.noflag.org.uk -v docker_sqldata:/var/lib/mysql mariadb
ExecStop=-/usr/bin/docker stop sqldb.noflag.org.uk
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=mariadb.service
Alias=mysqld.service
Alias=maria.service
Alias=sqldb.service
