[Unit]
Description=nginx Vhost Controller
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop switchboard.noflag.org.uk
ExecStartPre=-/usr/bin/docker rm switchboard.noflag.org.uk
ExecStart=-/usr/bin/docker run --restart=always --name=switchboard.noflag.org.uk -p 80:80 -p 443:443 -v /var/run/docker-apps:/var/run/docker-apps sqldata:/var/lib/mysql --net=sql nginx
ExecStop=-usr/bin/docker stop switchboard.noflag.org.uk
Restart=always

[Install]
WantedBy=default.target