[Unit]
Requires=vhost.fpm.service
After=vhost.fpm.service
PartOf=switchboard.service
#Documentation=https://github.com/djcf/

[Service]
ExecStart=/lib/systemd/systemd-socket-proxyd /var/run/docker-apps/vhost.fpm.sock
#ExecStart=/var/run/docker-apps/vhost.fpm.sock
#PrivateTmp=yes
#PrivateNetwork=yes
