{% if container_always_active == true %}
    {% set socket_name = "fpm.sock" %}
{% else %}
    {% set socket_name = "fpm-waker.sock" %}
{% endif %}

server {
        listen 80;
        listen [::]:80;

        server_name {{ domain }} www.{{ domain }} {{ subdomain }};
        access_log /dev/stdout vhost;
        error_log stderr error;

    {% if ssl_method == "redirect" %}
        return 302 https://$host$request_uri;
    {% else %}
        root /var/www/{{ domain }}/public_html;
    {% if use_php is defined and use_php == True %}
        {% include php-vhost.j2 %}
    {% else %}
        location / {
            try_files $uri $uri/ =404;
        }
        index index.html index.htm;
    {% endif %}

        include inc/general.conf;
    {% if extra_nginx_configs is defined %}
        {% for nginx_config in extra_nginx_configs %}
            include {{ nginx_config }};
        {% endfor %}
    {% endif %}

    {% endif %}
}

{% if ssl_host == true %}

server {
        server_name {{ domain }} www.{{ domain }} {{ subdomain }};
        listen 443 ssl http2;
        listen [::]:443;

        access_log /dev/stdout vhost;
        error_log stderr error;

    {% if lets_encrypt == true %}

    {% else %}
    {% if local_ssl_cert|succeeded and local_ssl_key|succeeded %}
        ssl_certificate /etc/nginx/certs/{{ domain }}.crt;
        ssl_certificate_key /etc/nginx/certs/{{ domain }}.key;
    {% else %}
        ssl_certificate /etc/nginx/certs/{{ default_cert }}.crt;
        ssl_certificate_key /etc/nginx/certs/{{ default_cert }}.key;
    {% endif %}
        ssl_dhparam /etc/nginx/certs/{{ domain }}.dhparam.pem;
    {% endif %}

        include inc/ssl.conf;

        root /var/www/{{ domain }}/public_html;
    {% if use_php is defined and use_php == True %}
        {% include php-vhost.j2 %}
    {% else %}
        location / {
            try_files $uri $uri/ =404;
        }
        index index.html index.htm;
    {% endif %}
        include inc/general.conf;
    {% if extra_nginx_configs is defined %}
        {% for nginx_config in extra_nginx_configs %}
            include {{ nginx_config }};
        {% endfor %}
    {% endif %}
}
{% endif %}