{% if not container_always_active %}
    # Container sleeps after: {{ container_sleeps_after|default("20m") }}
    # Valid: xm for minutes (e.g. 20m), xh for hours (e.g. 2h) or xhym for minutes and hours (e.g. 2h30m)
    # Passed to docker logs --since. For more information, see https://docs.docker.com/engine/reference/commandline/logs
    #
    # This is the vhost-descriptor for an on-demand container created using the ansible vhost-renew command.
    # If no traffic is received (monitored using docker logs --since command) in {{ container_sleeps_after }},
    # a cron-script tells host systemd to sleep the container, using `systemctl stop vhost@{{ primary_subdomain }}.fpm`.
    # When a new connection is detected, systemd proxies the connection from nginx until the container has started again.
    #
    # OPTIONS:
    # * To change the sleep value, just edit this vhost. {# (NB: *THIS* file is a vhost template *not* a vhost. DO NOT ACCIDENTALLY EDIT THIS TEMPLATE INSTEAD) #}
    # * To disable sleeping on this php-fpm container, move this vhost to ../web-apps (or any other directory except ./on-demand)
    # * To move this website into the multi-user php-fpm-group container, re-run the renew-vhost play.
    #
{% endif %}
{{ ansible_managed | comment }}
server {
        listen 80;
        listen [::]:80;

        server_name {{ domain_list | join(" ") }};
        access_log /dev/stdout;
        error_log stderr error;

    {% if lets_encrypt %}
        location /.well-known/ {
            alias /var/www/letsencrypt-challenge/.well-known/?;
            try_files $uri index.html =404;
        }
    {% endif %}

    {% if ssl_host and ssl_method == "redirect" %}
        location / {
            return 301 https://$host$request_uri;
        }
    {% else %}
        root {{ webroot }};
        {% if use_php is defined and use_php %}
        {% include "php-vhost.j2" %}
        {% else %}
        location / {
            try_files $uri $uri/ =404;
        }
        index index.html index.htm;
        {% endif %}

        include inc/general.conf;
        {% if extra_nginx_configs is defined %}
        {% for nginx_config in extra_nginx_configs %}
        include {{ nginx_config }};
        {% endfor %}
        {% endif %}
    {% endif %}

    {% if custom_vhost_exists is defined and custom_vhost_exists|succeeded %}
        include {{ docker_volumes['docker_vhost_config'] }}/{{ primary_subdomain }}.conf;
    {% endif %}


    {% if server_block_extra is defined %}
    {{ server_block_extra }}
    {% endif %}
}

{% if ssl_host %}

server {
        server_name {{ domain_list | join(" ") }};
        listen 443 ssl http2;
        listen [::]:443;

        access_log /dev/stdout;
        error_log stderr error;

    {% if lets_encrypt and lets_encrypt_cert_exists %}
        ssl_certificate /etc/letsencrypt/live/{{ primary_domain }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ primary_domain }}/privkey.pem;
        ssl_trusted_certificate /etc/letsencrypt/live/{{ primary_domain }}/chain.pem;
        ssl_dhparam /etc/nginx/certs/{{ primary_subdomain }}.dhparam.pem;
    {% else %}
    {% if use_own_certificate %}
        ssl_certificate /etc/nginx/certs/{{ primary_subdomain }}.crt;
        ssl_certificate_key /etc/nginx/certs/{{ primary_subdomain }}.key;
        ssl_dhparam /etc/nginx/certs/{{ primary_subdomain }}.dhparam.pem;
    {% else %}
        ssl_certificate /etc/nginx/certs/{{ default_cert }}.crt;
        ssl_certificate_key /etc/nginx/certs/{{ default_cert }}.key;
        ssl_dhparam /etc/nginx/certs/{{ primary_subdomain }}.dhparam.pem;
    {% endif %}
    {% endif %}

        include inc/ssl.conf;

        root {{ webroot }};
    {% if use_php is defined and use_php %}
        {% include "php-vhost.j2" %}
    {% else %}
        location / {
            try_files $uri $uri/ =404;
        }
        index index.html index.htm;
    {% endif %}
        include inc/general.conf;
    {% if extra_nginx_configs is defined %}
        {% for nginx_config in extra_nginx_configs %}
        include {{ nginx_config }};
        {% endfor %}
    {% endif %}

    {% if custom_vhost_exists is defined and custom_vhost_exists|succeeded %}
        include {{ docker_volumes['docker_vhost_config'] }}/{{ primary_subdomain }}.conf;
    {% endif %}

}
{% endif %}