DB_USER={{ db_user }}
DB_HOST={{ db_host }}
DB_PORT={{ db_port }}
DB_NAME={{ db_name }}
DB_PASSWORD={{ db_password }}
PRIMARY_SUBDOMAIN={{ primary_subdomain }}
ENVIRONMENT=live
WEBROOT={{ webroot }}
HTTP_USER_AGENT_HTTPS={{ ssl_host | ternary("ON", "OFF") }}
WP_DEBUG=false
CONTAINER_TYPE={{ group_fpm | ternary("group_fpm", "on_demand")}}