[Unit]
Description=MariaDB SQL Container
Requires=docker.service
After=docker.service
Documentation=https://github.com/djcf/wordpress-fpm-docker

[Service]
TimeoutStartSec=120
TimeoutStopSec=15
NotifyAccess=all
Type=notify
RestartSec=10s
#ExecStart=-/usr/bin/systemd-docker run --net docker_sqlnet --rm --name=sqldb.noflag.org.uk -v docker_sqldata:/var/lib/mysql yobasystems/alpine-mariadb
ExecStart=-/usr/bin/systemd-docker start sqldb.noflag.org.uk
ExecStop=-/usr/bin/systemd-docker stop sqldb.noflag.org.uk

[Install]
WantedBy=multi-user.target
Alias=mariadb.service
Alias=mysqld.service
Alias=maria.service
Alias=sqldb.service