##
{{ ansible_managed | comment }}
# NOTE: The default nginx.conf file in this location is automatically-mapped into the nginx container by docker at runtime.
# Changes made to this file automatically persist into the container as a result of the volume mount
# configuration in docker-compose.yml

# Directives in this file may be templated into that location by ansible, depending on the server's auto-discovered capabilities

user  www-data www-data;
worker_processes  auto;

error_log  stderr warn;
pid        /var/run/nginx.pid;

events {
    worker_connections  {{ worker_connections.stdout }};
    use epoll;
    multi_accept on;
}


http {
    include /etc/nginx/conf.d/*.conf;
    include /etc/nginx/sites-enabled/*/*.conf;
}